<style amp-boilerplate> body { -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both; -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both; -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both; animation: -amp-start 8s steps(1, end) 0s 1 normal both } @-webkit-keyframes -amp-start { from {visibility: hidden} to {visibility: visible} } @-moz-keyframes -amp-start { from {visibility: hidden} to {visibility: visible} } @-ms-keyframes -amp-start { from {visibility: hidden} to {visibility: visible} } @-o-keyframes -amp-start { from {visibility: hidden} to {visibility: visible} } @keyframes -amp-start { from {visibility: hidden} to {visibility: visible} }
    </style><noscript><style amp-boilerplate> body { -webkit-animation: none; -moz-animation: none; -ms-animation: none; animation: none } </style></noscript>
    <style amp-custom=''>
        * {
            box-sizing: border-box;
            font-family: 'Roboto';
            transition: all 0.2s linear;
            font-size: 16px;
        }

        html,
        body {
            margin: 0px;
            padding: 0px;
        }

        .content-width {
            width: 80%;
        }

        .content {
            margin: 0 auto;
            padding: 50px 0px;
            line-height: 160%;
        }

        .content2 {
            margin: 0 auto;
            padding: 10px 0px;
            line-height: 160%;
        }

        h1 {
            font-size: 240%;
            line-height: 120%;
            margin: 20px 0px;
        }

        h2,h3 {
            font-size: 140%;
            margin: 30px 0px;
        }

        .clearfix {
            clear: both;
        }

        .subtext {
            text-align: left;
            font-weight: 400;
            color: #a5a5a5;
            font-size: 90%;
        }

        .branding {
            font-size: 90%;
            color: #fff;
        }

        .branding a {
            color: inherit;
        }

        .branding a:hover {
            color: #19B5FE;
        }

        .resep {
            font-size: 140%;
            color: #fff;
        }

        .resep a {
            color: inherit;
        }

        .button {
            padding: 10px 15px;
            text-decoration: none;
            color: #fff;
            background: #19B5FE;
            font-weight: 700;
            text-align: center;
        }

        .button:hover {
            background: #3ebf43;
        }

        /* Header */
        header,
        footer,
        #sidebar {
            background: #2c3e50;
        }

        header {
            padding: 10px 0px;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        #sidebar {
            width: 300px;
            padding: 1.5rem;
        }

        .sidebar-menu {
            padding: 0px;
            margin: 0px;
        }

        .amp-custom-sidebar-header {
            line-height: 3.5rem;
            min-height: 3.5rem;
            color: #fff;
        }

        #sidebar-close {
            cursor: pointer;
        }

        .sidevar-nav-item {
            padding: 10px 0px;
            margin: 0px;
            display: block;
            list-style: none;
            color: #021425;
            text-transform: capitalize;
            letter-spacing: .6px;
            line-height: 2.0625;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
        }

        .sidevar-nav-item:hover {
            color: #19B5FE;
        }

        .menu {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }

        .logo {
            width: 200px;
        }

        #sidebar-menu-btn {
            background: 0 0;
            border: 0;
            color: #fff;
            font-weight: 700;
            font-size: 28px;
        }

        /* POST */
        #article-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #article {
            flex-basis: 70%;
            padding-right: 30px;
            border-right: 1px solid #e3e3e3;
        }

        #article h1 {
            margin-top: 0px;
        }

        .article-image,
        .article-body {
            margin: 20px 0px;
        }

        .author-info {
            color: #9d9d9d;
            font-weight: bold;
        }

        #article a {
            color: inherit;
        }

        #article a.button {
            margin: 20px 10px 20px 0px;
            display: inline-block;
            width: 120px;
        }

        #article a.button,
        #article a.button:hover {
            color: #fff;
        }

        #article a:hover {
            color: #19B5FE;
        }

        #additional-info {
            flex-basis: 30%;
            padding-left: 30px;
        }

        #additional-info:before {
            display: block;
            height: 6px;
            background-color: #2c3e50;
            content: ' ';
            width: 50px;
            margin-left: 0;
            margin-bottom: 20px;
        }
        
        .promo,
        .related-box ul li {
            border: 1px solid #e3e3e3;
        }

        .promo {
            padding: 10px;
            margin-top: 20px;
        }

        .article-meta ul,
        .related-box ul {
            padding: 0px;
            margin: 0px;
        }

        .related-box a {
            text-decoration: none;
            color: inherit;
        }

        .related-box a.imp-link {
            color: #3ebf43;
            font-weight: 700;
        }

        .related-box ul li {
            list-style: none;
            padding: 10px;
        }

        .related-box ul li:hover,
        .related-box a:hover {
            text-decoration: underline;
            background: #ebebeb;
        }
        .article-meta {
            margin: 30px 0px;
        }
        .article-meta ul {
            display: flex;
            flex-direction: row;
        }
        #article .article-meta a.tag {
            margin-right: 10px;
            background: #ebebeb;
            font-weight: bold;
            font-size: 90%; 
            text-decoration: none;
            padding: 10px;
            color: #414141;
            text-transform: uppercase;
        }
        #article .article-meta .tag:hover {
            background: #dadada;
        }
        .article-meta li {
            list-style: none;
        }

        .blockquote-wrapper {
            position: relative;
        }

        .blockquote {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 90%;
            font-style: italic;
            text-align: justify;
        }

        .blockquote::before {
            content: "“";
            position: absolute;
            top: 0.25em;
            left: -0.15em;
            color: #e7e6e4;
            font-size: 170px;
            z-index: -1;
        }

        cite {
            display: block;
            text-align: right;
            padding: 10px 0px;
        }

        .amp-components .component {
            margin: 30px 0px;
            position: relative;
            overflow: hidden;
        }

        /* Footer */
        footer {
            color: #fff;
            text-align: center;
        }

        @media only screen and (max-width: 1024px) {
            h1 {
                font-size: 140%;
            }
            #article {
                padding-right: 20px;
            }
            #additional-info {
                padding-left: 20px;
            }
            .related-box ul li, .promo p, .promo a {
                font-size: 90%;
            }
        }
        @media only screen and (max-width: 768px) {
            #article,
            #additional-info {
                border: 0px;
                flex-basis: 100%;
                padding: 0px;
                margin-bottom: 30px;
            }
            .logo {
                width: 160px;
            }
            h1 {
                font-size: 160%;
            }
            #article a.button,
            #article .article-meta a.tag li {
                font-size: 90%; 
            }
        }
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 120%;
            }
            .content-width { 
                width: 90%;
            }
            .content {
                padding: 30px 0px;
            }
            .logo {
                width: 140px;
            }
            header {
                padding: 5px 0px;
            }
            #article-wrapper {
                flex-direction: column;
            }
            .blockquote {
                margin: 50px 0px;
                font-size: 100%;
            }
            .article-meta ul {
                flex-wrap: wrap;
            }
            .article-meta a.tag {
                margin-bottom: 10px;
            }
            #article a.button {
                margin: 10px 10px 10px 0px;
            }
            .branding p, .branding a {
                font-size: 14px;
            }
        }
</style>